<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Моя первая верстка</title>
		<link href="../public/css/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>FOOTBALL TOURNAMENT</header>
		<main>
			<%- include("blocks/nav-bar.ejs") %>
			<div class="content">
				<div class="select-teams">
                    <div class="first-team">
                        <% for(let i of teams){ %>
                        <div class="team" data-id="<%= i.id %>"><%= i.name  %></div>
                        <% } %>
                    </div>
                    <div class="second-team">
                        <% for(let i of teams){ %>
                            <div class="team" data-id="<%= i.id %>"><%= i.name  %></div>
                        <% } %>
                    </div>
				</div>
				<input type="datetime-local" id="match-date-time-input" name="match-date-time-input">
				<div class="select-teams-button">Submit</div>
				<div class="players">
					<select name="players-select" id="players-select"></select>
				</div>
				<div class="event-types">
					<select name="events-select" id="events-select"></select>
				</div>
				<input type="datetime-local" id="event-time-input" name="event-time-input" value="">
				<button id="add-event">Submit</button>
				<div class="match-events"></div>
			</div>
		</main>
	</body>

	<script src="../public/js/jquery-3.4.1.min.js"></script>
	<script src="../public/ts/main.js"></script>
</html>