<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Моя первая верстка</title>
		<link href="../public/css/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>FOOTBALL TOURNAMENT</header>
		<main>
			<%- include("blocks/nav-bar.ejs") %>
            <div class="content">            
				<div class="header"><%= team.name %></div>
				<div class="manager"><%= team.manager.name %></div>
                <div class="team-players">
					<table class="tournament-table">
						<thead>
							<tr>
								<td>#</td>
								<td>id</td>
								<td>name</td>
								<td>Goals</td>
								<td>Assists</td>
								<td>Yellow Cards</td>
								<td>Red Cards</td>
							</tr>
						</thead>
					
						<tbody>
							<% let counter = 0; for (var i of players){ %>
								<tr>
									<td><%= counter.toString();%></td>
									<td><%= i.id.toString(); %></td>
									<td><a href="/player/<%= i.id.toString();%>"><%= i.name %></a></td>
									<td><%= i.goals%></td>
									<td><%= i.assists%></td>
									<td><%= i.yellowcards%></td>
									<td><%= i.redcards%></td>
								</tr>
							<% counter++; } %>
						</tbody>
					</table>
                </div>
            </div>
		</main>
	</body>

	<script src="../public/js/jquery-3.4.1.min.js"></script>
	<script src="../public/ts/main.js"></script>
</html>